table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

@media only screen and (max-width: 600px) {
  th,
  td {
    display: block;
    width: 100%;
  }
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus {
  border: 2px solid #555;
}

.display-linebreak {
  white-space: pre-line;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-textarea {
  width: 500px;
  height: 200px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid gray;
  resize: none;
}

.form-submit-button {
  background-color: blue;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.form-submit-button:hover {
  background-color: darkblue;
}

.results-label {
  margin-top: 20px;
  font-size: 20px;
}

.results-container {
  width: 500px;
  height: 200px;
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid gray;
  overflow-y: scroll;
}

.loader {
  margin-top: 20px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
