selenium==4.6.0
pandas==1.4.1
webdriver-manager==3.8.4
fastapi==0.78.0
uvicorn==0.17.6
keybert==0.5.1
wordcloud==1.8.2.2
textblob==0.17.1
contractions==0.1.73
spacy==3.4.1
en-core-web-sm==3.4.1
wordcloud==1.8.2.2
matplotlib==3.5.1
openai==0.26.5
pyhton-dotenv==0.21.0