.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-area {
  min-height: 20vh;
  min-width: 40vw;
  font-size: 15px;
}
.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.display-linebreak {
  white-space: pre-line;
  font-size: 1.4em;
}
